<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">
    <resultMap id="userId" type="com.example.model.User">
        <result column="id" property="id"/>
        <result property="phone" column="phone"/>
        <association property="role" javaType="com.example.model.Role">
            <id column="roleId" property="id"/>
            <result property="roleName" column="roleName"/>
        </association>

    </resultMap>
    <select id="findUserById" resultType="com.example.model.User" parameterType="com.example.model.User">
             select * from user where id=#{id}
     </select>
    <select id="findUserByPhone" resultType="com.example.model.User" parameterType="com.example.model.User">

         select *
                  from  user
                   where phone=#{phone}
    </select>
    <update id="updateUser" parameterType="com.example.model.User">
        update user set worryLogin=#{worryLogin},loginTime=#{loginTime} where id=#{id}
    </update>
    <insert id="insert" parameterType="com.example.model.User">
        insert into user(phone,password,loginTime) values(#{phone},#{password},#{loginTime})
    </insert>
    <update id="updateTime" parameterType="com.example.model.User">
        update user set codeTime=#{codeTime} where phone=#{phone}
    </update>
    <select id="listUser" resultMap="userId">
        select u.id,u.phone,r.roleName,r.roleId
        from user u,role r
        WHERE u.roleId=r.roleId
    </select>
    <update id="editRole" parameterType="map">
        update user set roleId=#{roleId} WHERE id=#{userId}
    </update>
</mapper>