<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li>
                    <a th:href="@{/hello1}">首页</a>
                </li>
                <li>
                    <a th:href="@{/article/list}">我的主页</a>
                </li>
                <li class="active">
                    <a th:href="@{/admin/admin}" th:if="${session.loginInfo.role.id==1}">管理员页面</a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><p th:if="${session.loginInfo==null}"><a th:href="@{/hello}">请登录</a></p><p th:if="${session.loginInfo}"><label th:text="${session.loginInfo.phone}"></label></p><strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <p th:if="${session.loginInfo}">
                                <a th:href="@{/admin/admin}" th:if="${session.loginInfo.role.id==1}">管理员页面</a>
                            </p>
                        </li>
                        <li><p th:if="${session.loginInfo}">
                            <a th:href="@{/quit}">退出登录</a>
                        </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary" type="button" th:href="@{/admin/add}">新建角色</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <a th:href="@{/admin/add}"></a>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        用户名
                    </th>
                    <th>
                       角色
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${user}" class="success">
                    <td th:text="${user.phone}"><</td>
                    <td th:text="${user.role.roleName}"></td>
                    <td><a th:href="@{/admin/editRole/}+${user.id}"/>修改角色</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>