<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<script type="text/javascript">
</script>
<form th:action="@{/article/update}" method="post">
    <input type="hidden" name="id" th:value="${article.id}" id="id">
    <p th:text="${#dates.format(article.created, 'yyyy-MM-dd')}"></p>

    <input type="text" th:value="${article.title}" name="title">
<br>

<textarea th:text="${article.content}" name="content"></textarea>
    <br>

    <button id="buttonId" type="button" onclick="javascript:history.back(-1);">返回</button>
    <input type="submit" value="保存">

    </form>
</body>
</html>