<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--
        <form th:action="@{/login}" method="post">
        <div class="cell">
          <input type="text"  id="phone"  name="phone" placeholder="请输入手机号码" class="text"  maxlength="11" />

        </div>
          <div th:text="${msg}"></div>
        <div class="cell" id="yanzhengma" >
          <input type="password" name="password" id="password" placeholder="请输入密码" class="text" />
        </div>
          <div th:text="${msgp}"></div>
        <div class="bottom"> <input type="submit" class="button btn-green" value="立即登陆"></div>
          </form>
-->
<form class="form-horizontal" role="form" th:action="@{/login}" method="post">
  <div th:text="${msg}"></div>
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">手机号码</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="firstname" name="phone" placeholder="请输入手机号码" maxlength="11">
    </div>
  </div>
  <div th:text="${msgp}"></div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" name="password" id="lastname" placeholder="请输入密码">
    </div>
  </div>
  <div class="form-group">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
    </div>
  </div>
</form>
</body>
</html>
