<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>带全屏背景图片轮播切换的注册登录页面 - JS代码网</title>
<meta name="keywords" content="jQuery背景全屏轮播,JS背景全屏轮播切换,注册登录页面,注册登录模板页面,注册登录HTML页面,注册登录HTML" />
<meta name="description" content="JS代码网提供带全屏背景图片轮播切换的注册登录页面下载" />
<meta charset="utf-8">
<link href="css/home.css?v=2" rel="stylesheet" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="wrap">
  <div class="banner-show" id="js_ban_content">
    <div class="cell bns-01">
      <div class="con"> </div>
    </div>
    <div class="cell bns-02" style="display:none;">
      <div class="con"> <a href="http://www.js-css.cn" target="_blank" class="banner-link"> <i>圈子</i></a> </div>
    </div>
    <div class="cell bns-03" style="display:none;">
      <div class="con"> <a href="http://www.js-css.cn" target="_blank" class="banner-link"> <i>企业云</i></a> </div>
    </div>
  </div>
  <div class="banner-control" id="js_ban_button_box"> <a href="javascript:;" class="left">左</a> <a href="javascript:;" class="right">右</a> </div>
  <script type="text/javascript">
    var hander;
    function timer(time){
      var btn = $("#buttonId");
      btn.attr("disabled", true);  //按钮禁止点击
      btn.html(time <= 0?"发送动态密码":("" + (time) + "秒后可发送"));
      hander = setInterval(function() {
        if (time <= 0) {
          clearInterval(hander); //清除倒计时
          btn.html("获取验证码");
          btn.attr("disabled", false);
          return false;
        }else {
          btn.html(""+ (time--)+ "秒后可发送");
        }
      }, 1000);
    }

    function yanzheng(){
      var number= $("#yanzhengmatext").val();
      $.ajax({
        type:"POST",
        url:"/re/imgvrifyControllerDefaultKaptcha",
        dataType:"json",
        data:{yanzhengma:number},
        success:function(msg){
          if(msg["info"]==1){
            alert("验证成功");
            removeAttr();
            var btn = $("#buttonId");
            btn.html("获取验证码");
            $("#yanzhengma2").remove();
          }else{
            alert("验证码错误");
          }
        }
      });

    }

    function sub(){

      if(!add()||!checkPassword()){
        alert("用户名或密码格式不对");
        return;
      }
      var password= $("#password").val();
      var phone=$("#phone").val();
      $.ajax({
        type:"POST",
        url:"/register/register",
        data:{phone:phone,
          password:password
        },
        dataType:"json",
        success:function(msg){
          if(msg["status"]==1){
            alert("注册成功,恭喜你成为arvato的会员");
            location.href="/hello";
          }else if(msg["status"]==3){
            if(confirm("用户已存在，你要登陆吗？"))
            {
              location.href="/hello";
            }
          }
          else{
            alert("因为什么神秘的原因，失败了");
          }
        }
      });

    }
    function checkNm() {

      var number=$("#checkNumber").val();
      var phone=$("#phone").val();
      $.ajax({
        type:"POST",
        url:"/register/checkNm",
        data:{number:number,
          phone:phone },
        dataType:"json",
        success:function(msg){
          if(msg["numbercode"]==1){
            alert("验证成功");
            $("#submitId").removeAttr("disabled");
          }
          else if(msg["numbercode"]==3){
            alert("验证码期限已经超过60秒，请重新获取");
          }
          else{
            clearInterval(hander);
            var btn = $("#buttonId");
            btn.html("输入图形验证码");

            $("#buttonId").attr('disabled',true);
            $("#yanzhengma").after("<div class='cell vcode' id='yanzhengma2'><input type='text'  id='yanzhengmatext' onblur='yanzheng()' class='text' maxlength='6'> <img alt='验证码' onclick = 'this.src=\"/re/defaultKaptcha?d=\"+new Date()*1' src='/re/defaultKaptcha' /></div>");


          }
        }
      });
    }
    function sendNumber(){

      var phone=$("#phone").val();
      $.ajax({
        type:"POST",
        url:"/register/sendNumber",
        data:{phone:phone},
        dataType:"json",
        success:function(msg){
          if(msg["number"]==1){
            alert("手机验证码已成功发送，请注意查收");
            timer(10);
          }else if(msg["number"]==3){
            alert("60秒内只能获取一次");
          }else{
            alert("手机号码错误，请更换号码");
          }
        }
      });

    }
    function removeAttr(){
      $("#buttonId").removeAttr("disabled");
    }

    function checkPassword(){
      var password= $("#password").val();
      if(password.length<=4){
        alert("密码不能少于4位数字");
        return false;
      }else{
        $("#passwordId").html("");
      }
      return true;
    }
    function add() {
      var phone=$("#phone").val();
      if(!(/^1[34578]\d{9}$/.test(phone))){
        alert("手机号码有误，请重填");
        return false;
      }

      $.ajax({
        type:"POST",
        url:"/register/ajax",
        data:{phone:phone},
        dataType:"json",
        success:function(msg){
          var code=msg["code"];
          if(code==1){
            if(confirm("用户已存在，你要登陆吗？"))
            {
              location.href="/hello";
            }
            else
            {
              return false;
            }
          }
        }
      });

 return true;
    }
  </script>
  <div class="container">
    <div class="register-box">
      <div class="reg-slogan"> 新用户注册</div>
      <div class="reg-form" id="js-form-mobile"> <br>
        <br>
        <div class="cell">
          <input type="text"  id="phone"  name="phone" placeholder="请输入手机号码" class="text"  maxlength="11"  onblur="add()"/>
        </div>
        <div class="cell" id="yanzhengma" >
          <input type="password" name="password" id="password" placeholder="请输入密码" onblur="checkPassword()" class="text" />
        </div>

        <div class="cell vcode">
          <input type="text" id="checkNumber" placeholder="短信验证码" onblur="checkNm()" class="text" maxlength="6" />
          <button  id="buttonId" type="button"  class="button btn-gary"  onclick="sendNumber()"> 免费获取验证码</button> </div>
        <div class="bottom"> <button id="submitId"   onclick="sub()" class="button btn-green" disabled="disabled" > 立即注册</button></div>
      </div >
      <div class="cell"> <font color="#a52a2a">完成注册即可获得500积分</font></div>
    </div>
  </div>
</div>
</div>
</body>
</html>
